.container{
    height: 90%;
    width: 90%; 

    .head{  
        padding: 2%;

        .text{
            font-size: 40px;
            color : rgb(211, 211, 211);
        }
    }

    .table{
        height: 80%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        
        &::-webkit-scrollbar{
            display: none;
        }
        &{
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

            .header{
                font-size: 23px;
                font-weight: normal;
                color: white;
            }

            td{
                padding: 4%;
                text-align: center;
                font-size: 22px;
                color : rgb(154, 134, 253);
            }
        }
        .form-container{
            margin-top: 2%;
            .form{
                display: flex;
                justify-content: space-around;
                
                input{
                    color: #1F1B2C;
                    border-radius: 4px;
                    outline: none;
                    border: none;
                    padding: 5px;
                }
            }
        }
    }
